TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
POLY_PRIVATE_KEY=
POLY_FUNDER_ADDRESS=
POLY_RPC_URL=https://polygon-bor-rpc.publicnode.com
BUY_EXISITNG_POS=0
USE_ASYNC=0
SIZE_AGRESSION=0.02
AGRESSION=0.5


POLY_PUBLIC_KEY=
MORALIS_API_KEY=
