TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
POLY_PRIVATE_KEY=
POLY_FUNDER_ADDRESS=
POLY_RPC_URL=https://polygon-bor-rpc.publicnode.com
SET_NEVER_BELOW_COST=0
SIZE=5
MAX_PRICE=0.91
MAX_TIME_LEFT=7
BUY_SLEEP_TIME=13
SELL_SLEEP_TIME=1
MIN_TIME_LEFT=2
SELL_PRICE=0.96
